body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; /* transparent with keyword */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* transparent with rgba */
  -webkit-tap-highlight-color: hsla(0, 0, 0, 0); /* transparent with hsla */
  -webkit-tap-highlight-color: #00000000; /* transparent with hex with alpha */
  -webkit-tap-highlight-color: #0000; /* transparent with short hex with alpha */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
